In [2]:
name='Marothi Gore'

In [3]:
age=30

In [7]:
address="plot no=16/17,Saink colony padeagoan,Aurangabad"

In [1]:
print("my name {0},age{1},address{2}".format(name,age,address))

NameError: name 'name' is not defined

In [4]:
print(f'{name} is {age} year old and working as an{address}')

NameError: name 'name' is not defined

In [5]:
name='MarothiGore'

In [7]:
age=34

In [10]:
Address="plot no=16/17 Sainak colony padegaon,Aurangabad"

In [12]:
print(f'{name} is {age} year old and working as an {Address}')

MarothiGore is 34 year old and working as an plot no=16/17 Sainak colony padegaon,Aurangabad

In [14]:
List=[1,2,3,4,5,'java']

In [1]:
List

NameError: name 'List' is not defined

In [3]:
tuple=(1,2,3,"Python")

In [5]:
tuple

(1, 2, 3, 'Python')

## Data Structure ##

In [6]:
list1=[1,2,3,4,5,6,'java']

In [8]:
len(list1)

7

In [10]:
type(list1)

list

In [12]:
isinstance(list1)

TypeError: isinstance expected 2 arguments, got 1

In [13]:
isinstance(list1,tuple)

TypeError: isinstance() arg 2 must be a type, a tuple of types, or a union

In [22]:
isinstance(list1,tuple)

TypeError: isinstance() arg 2 must be a type, a tuple of types, or a union

In [17]:
isinstance(list1,list)

True

In [20]:
isinstance(list1,tuple)

TypeError: isinstance() arg 2 must be a type, a tuple of types, or a union